<div class="container mt-5" style="min-height: 100vh;">
    <div class="row admin-add-edit-product-row">
        <h4>Add Product</h4>
        <div class="col-md-7 admin-add-edit-product-col">
            <form action="/admin/add-product" method="POST" enctype="multipart/form-data"
                class="add-edit-product-from-admin">
                <div class="admin-add-edit-product-input-group">
                    <label for="name" class="admin-add-edit-product-form-labels">Name</label>
                    <input type="text" name="name" class="admin-add-edit-product-form-input" required>
                </div>

                <div class="admin-add-edit-product-input-group">
                    <label for="select-category" class="admin-add-edit-product-form-labels">Category</label>
                    <select name="category" id="select-category" class="admin-add-edit-product-form-input" required>
                        <option value="0">Select Category</option>
                        <option name="category" value="Food">Food</option>
                        <option name="category" value="Furniture">Furniture</option>
                        <option name="category" value="Craft Works">Craft Works</option>
                        <option name="category" value="Paintings">Paintings</option>
                        <option name="category" value="Dress">Dress</option>
                        <option name="category" value="Jewelery">Jewelery</option>
                    </select>
                </div>

                <div class="admin-add-edit-product-input-group">
                    <label for="price" class="admin-add-edit-product-form-labels">Price</label>
                    <input type="text" name="price" class="admin-add-edit-product-form-input" required>
                </div>

                <div class="admin-add-edit-product-input-group">
                    <label for="description" class="admin-add-edit-product-form-labels">Description</label>
                    <input type="text" name="description" class="admin-add-edit-product-form-input" required>
                </div>

                <div class="admin-add-edit-product-input-group">
                    <label for="Image">Upload Image (max 5 images)</label>
                    <input id="file" type="file" name="Image" class="admin-add-edit-product-file-input" accept="image/*" required multiple>
                </div>
                <input type="text" id="imgCount" name="imgCount" style="display: none;">

                <div class="admin-add-edit-product-button-sec">
                    <button type="submit" id="add-edit-product-btn">Submit</button>
                </div>
            </form>
        </div>

    </div>
</div>



<style>
    .add-product-sidebar {
        background-color: #1b75ea25;
    }

    .add-product-sidebar .menu-name {
        font-weight: 900;
        color: #1b75ea;
    }

    .add-product-sidebar .menu-icons {
        margin-right: 1em;
        margin-left: 1.5em;
        font-weight: 500;
        color: #1b75ea;
    }

    .add-product-sidebar .sidebar-round-span {
        display: block;
        opacity: 1;
    }
</style>


<script>
    $('input#file').change(function(){
    var files = $(this)[0].files;
    document.querySelector('#imgCount').value = files.length
});
</script>