<div class="container-fluid about-container">
    <div class="about-us-head"><span>About Us</span></div>
    <div class="row">
        <div class="col-12 p-5" style="line-height: 28px; font-style:Italic; letter-spacing:1px;">
            The Home Makers Marketing & Management System (HMMS) application enables
            vendors to set up online shops, customers to browse through the shops, and a
            system administrator to approve and reject requests for new shops and maintain
            lists of shop categories. Also the developer is designing an online shopping site to
            manage the items in the shop and also help customers to purchase them online
            without visiting the shop physically. The online shopping system will use the internet
            as the sole method for selling goods to its customers.
        </div>
    </div>
    <div class="row about-us-row">
        <div class="col-md-3  about-us-profile-col">
            <div class="about-us-profile-card">
                <div class="about-image-sec">
                    <div class="about-image-bg">
                        <img src="/aboutUsImages/1.jpg" alt="">
                    </div>
                </div>
                <div class="about-name-sec">
                    <span>Sandhu Babu</span>
                </div>
                <div class="about-social-accounts">
                    <a href="#"><i class='bx bxl-facebook facebook-about'></i></a>
                    <a href="#"><i class='bx bxl-instagram-alt instagram-about'></i></a>
                    <a href="#"><i class='bx bxl-twitter twitter-about'></i></a>
                    <a href="#"><i class='bx bxl-linkedin linkedin-about'></i> </a>
                </div>
            </div>
        </div>

        <div class="col-md-3  about-us-profile-col">
            <div class="about-us-profile-card">
                <div class="about-image-sec">
                    <div class="about-image-bg">
                        <img src="/aboutUsImages/2.jpg" alt="">
                    </div>
                </div>
                <div class="about-name-sec">
                    <span>Athul Krishna</span>
                </div>
                <div class="about-social-accounts">
                    <a href="#"><i class='bx bxl-facebook facebook-about'></i></a>
                    <a href="#"><i class='bx bxl-instagram-alt instagram-about'></i></a>
                    <a href="#"><i class='bx bxl-twitter twitter-about'></i></a>
                    <a href="#"><i class='bx bxl-linkedin linkedin-about'></i> </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 about-us-profile-col">
            <div class="about-us-profile-card">
                <div class="about-image-sec">
                    <div class="about-image-bg">
                        <img src="/aboutUsImages/3.jpg" alt="">
                    </div>
                </div>
                <div class="about-name-sec">
                    <span>Nandhu Gopan</span>
                </div>
                <div class="about-social-accounts">
                    <a href="#"><i class='bx bxl-facebook facebook-about'></i></a>
                    <a href="#"><i class='bx bxl-instagram-alt instagram-about'></i></a>
                    <a href="#"><i class='bx bxl-twitter twitter-about'></i></a>
                    <a href="#"><i class='bx bxl-linkedin linkedin-about'></i> </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 about-us-profile-col">
            <div class="about-us-profile-card">
                <div class="about-image-sec">
                    <div class="about-image-bg">
                        <img src="/aboutUsImages/4.jpg" alt="">
                    </div>
                </div>
                <div class="about-name-sec">
                    <span>Sarath P.O</span>
                </div>
                <div class="about-social-accounts">
                    <a href="#"><i class='bx bxl-facebook facebook-about'></i></a>
                    <a href="#"><i class='bx bxl-instagram-alt instagram-about'></i></a>
                    <a href="#"><i class='bx bxl-twitter twitter-about'></i></a>
                    <a href="#"><i class='bx bxl-linkedin linkedin-about'></i> </a>
                </div>
            </div>
        </div>


    </div>
</div>



<style>
    body {
        background: #e0e0e0;
    }
</style>