<div class="container mb-5" style="margin-top: 7em; min-height:100vh;">
    <h4 class="text-center mb-5">All Categories</h4>

    <div class="row">

        <div class="col-md-4 col-6" style="margin-top: 1em;">
            <a href="/showMore/Jewelery" class="all-category-card-link">
                <div class="all-category-card">
                    <div class="all-category-image-section">
                        <img src="https://pluspng.com/img-png/imitation-jewellery-png-affordable-one-gram-gold-jewellery-in-india-797.png"
                            alt="">
                    </div>
                    <div class="details-all-category">
                        Jewelery
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-6" style="margin-top: 1em;">
            <a href="/showMore/Food" class="all-category-card-link">
                <div class="all-category-card">
                    <div class="all-category-image-section">
                        <img src="https://www.pngall.com/wp-content/uploads/7/Bakery-Items-PNG-Picture.png" alt="">
                    </div>
                    <div class="details-all-category">
                        Foods
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-6" style="margin-top: 1em;">
            <a href="/showMore/Dress" class="all-category-card-link">
                <div class="all-category-card">
                    <div class="all-category-image-section">
                        <img src="https://pngimg.com/uploads/dress/dress_PNG168.png" alt="">
                    </div>
                    <div class="details-all-category">
                        Dress
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-6" style="margin-top: 1em;">
            <a href="/showMore/Furniture" class="all-category-card-link">
                <div class="all-category-card">
                    <div class="all-category-image-section">
                        <<img
                            src="https://freepngimg.com/thumb/aquarium/45531-6-bamboo-furniture-image-png-download-free.png"
                            alt="">
                    </div>
                    <div class="details-all-category">
                        Furnitures
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-6" style="margin-top: 1em;">
            <a href="/showMore/Paintings" class="all-category-card-link">
                <div class="all-category-card">
                    <div class="all-category-image-section">
                        <img src="https://pngimg.com/uploads/chakra/chakra_PNG88.png" alt="">
                    </div>
                    <div class="details-all-category">
                        Paintings
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-6" style="margin-top: 1em;">
            <a href="/showMore/Craft Works" class="all-category-card-link">
                <div class="all-category-card">
                    <div class="all-category-image-section">
                        <img src="https://i.pinimg.com/originals/d1/33/ca/d133ca6e15ddc775bedc6a2ba2c0af7f.png" alt="">
                    </div>
                    <div class="details-all-category">
                        Craft Works
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>



<style>
    .category-sidebar {
        background-color: #1b75ea25;
    }

    .category-sidebar .menu-name {
        font-weight: 900;
        color: #1b75ea;
    }

    .category-sidebar .menu-icons {
        margin-right: 1em;
        margin-left: 1.5em;
        font-weight: 500;
        color: #1b75ea;
    }

    .category-sidebar .sidebar-round-span {
        display: block;
        opacity: 1;
    }
</style>