<div class="container">
    <form action="" class="payment-details-form">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="delivery-payment-details-head">Edit Details</h3>
                <div class="delivery-details-input-sec">
                    <input type="text" id="name" class="delivery-details-input" required>
                    <label for="name" class="delivery-label">Name</label>
                </div>
                <div class="delivery-details-input-sec">
                    <input type="text" id="mobile" class="delivery-details-input" required>
                    <label for="mobile" class="delivery-label">Mobile Number</label>
                </div>
                <div class="delivery-details-input-sec">
                    <input type="text" id="email" class="delivery-details-input" required>
                    <label for="email" class="delivery-label">Email Address</label>
                </div>
                <div class="delivery-details-input-sec">
                    <input type="text" id="building" class="delivery-details-input" required>
                    <label for="building" class="delivery-label">Bulding Number</label>
                </div>
                <div class="delivery-details-input-sec">
                    <input type="text" id="street" class="delivery-details-input" required>
                    <label for="street" class="delivery-label">Street</label>
                </div>
                <div class="delivery-details-input-sec">
                    <input type="text" id="pincode" class="delivery-details-input" required>
                    <label for="pincode" class="delivery-label">Pincode</label>
                </div>
                <div class="delivery-details-input-sec">
                    <input type="text" id="city" class="delivery-details-input" required>
                    <label for="city" class="delivery-label">City</label>
                </div>
                <div class="delivery-details-input-sec">
                    <input type="text" id="district" class="delivery-details-input" required>
                    <label for="district" class="delivery-label">District</label>
                </div>
                <div class="delivery-details-input-sec">
                    <input type="text" id="state" class="delivery-details-input" required>
                    <label for="state" class="delivery-label">State</label>
                </div>

                <div class="details-btn-sec">
                    <button class="submit-user-details">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>

<style>
    .account-sidebar {
        background-color: #1b75ea25;
    }

    .account-sidebar .menu-name {
        font-weight: 900;
        color: #1b75ea;
    }

    .account-sidebar .menu-icons {
        margin-right: 1em;
        margin-left: 1.5em;
        font-weight: 500;
        color: #1b75ea;
    }

    .account-sidebar .sidebar-round-span {
        display: block;
        opacity: 1;
    }

    .account-sidebar {
        background-color: #1b75ea25;
    }

    .account-sidebar .menu-name {
        font-weight: 900;
        color: #1b75ea;
    }

    .account-sidebar .menu-icons {
        margin-right: 1em;
        margin-left: 1.5em;
        font-weight: 500;
        color: #1b75ea;
    }

    .account-sidebar .sidebar-round-span {
        display: block;
        opacity: 1;
    }

    .details-btn-sec {
        width: 100%;
        margin: 2em 0 2em 0;
        display: flex;
        justify-content: center;
    }

    .submit-user-details {
        width: 60%;
        height: 2.7em;
        border: none;
        outline: none !important;
        border-radius: 5px;
        background-color: #1b75eac9;
        color: #fff;
        font-weight: 600;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .submit-user-details:hover {
        background-color: #1b75eaf8;
    }
</style>